html, body{
  height:100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 60px;
  border-bottom: 4px solid #e1e0de; 
  z-index: 2;
  background-color: white;
}

.logo {
  width: 170px;
  height: 100%;
  display: block;
  float: left;
  padding-top: 10px; }
  @media screen and (min-width: 760px) and (min-device-width: 760px) {
    .logo {
      width: 280px; } }
  @media (min-width: 840px) {
    .logo {
      width: 120px; } }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 220px; } }
  .logo:after {
    background: url(../images/logo-small.svg) center center no-repeat;
    background-size: 50%;
    content: '';
    display: block;
    width: 100%;
    height: 40px; }
    @media screen and (min-width: 760px) and (min-device-width: 760px) {
      .logo:after {
        background: url(../images/logo.svg) center center no-repeat; } }
    @media (min-width: 840px) {
      .logo:after {
        background: url(../images/logo-small.svg) center center no-repeat; } }
    @media screen and (min-width: 1024px) {
      .logo:after {
        background: url(../images/logo.svg) center center no-repeat; } }
  .logo:hover {
    opacity: 0.7; }

input[type = "text"].weather {
    width: 150px;
    margin-top: 16px;
    outline: none;
    border-radius: 5px;
    color: #696664;
    float: left;
    padding: 4px;
}



.content {
  flex: 1 0 auto;
  width:100%;
}

.main-content{
  padding-left: 250px;
  
}
.section-inner{
  padding: 0 110px;
  overflow: auto;
  margin: 50px 0;  
}

.inner-wrap{
    padding-bottom: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.inner-wrap p{
	font-size: 24px;
}


#slider{
	display:none;
	width: 200px;
	height:260px;
	position: relative;
}
#another-slider{
  position:fixed;
  bottom:0;
  left:0;
}
.slide{
  position: absolute;
  display: none;
}
.active{
  display: block;
}
figure img {
    height: 200px;
    width: auto;
}
figure {
    width: 400px;
    background-color: #dddd;
    text-align: center;
    padding: 15px;
    margin: 0 auto 5px auto;
    color: #000;
}
.table-area{
	display:none;
}

.sidebar-button{
  position: fixed;
    top: 78px;
    left: 17px;
    width: 30px;
    height: 27px;
    border: none;
    border-top: 5px solid #dddddd;
    border-bottom: 5px solid #dddddd;
    outline: 0;
    z-index: 3;
    background-color: transparent;
}

.sidebar-button:before{
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0px;
  width: 30px;
  height: 5px;
  background-color: #dddddd;
}

.sidebar-button:active{
  transition-duration: 3px;
}

.sidebar-wrapper{
  position:fixed;
  left:0;
  top: 0;
  padding-top:64px;
  z-index: 1;
  background-color: #f5f2f0;
  width: 250px;
  height: 100%;
}

.sidebar-menu{
    margin-left: 35px;
    margin-top: 36px;
	padding: 0 30px;
    overflow: hidden;
}
.sidebar-item{
  padding:10px 0;
}

.sidebar-item a{
  text-decoration: none;
  color:#696664;;
}
.sidebar-item a:hover, .sidebar-item a:active{
  color:#b20600
}
.footer { 
  height:60px;
  border-top:2px solid #dddddd;
  z-index: 2;
  background-color: white;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
}
#my-timer{
	font-size: 30px;
    float: right;
    width: 120px;
    height: 50px;
    margin-right: 20px;
    padding: 10px 0;
}

input[type = 'text']{
  width:20px;
}

table {
  border-collapse: collapse;
}
form div{
	margin: 10px 0;
}

td {
  border: 1px solid gray;
  padding: 2px 5px;
  text-align: center;
  min-width: 20px;
  height: 15px;
}


