input[type = 'text']{
  width:20px;
}

table {
  border-collapse: collapse;
}
form div{
	margin: 10px 0;
}

td {
  border: 1px solid gray;
  padding: 2px 5px;
  text-align: center;
  font-size: 0;
  min-width: 20px;
  height: 15px;
}


