html, body{
  height:100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; 
  align-content: stretch;}

.header {
  position: relative;
  height: 55px;
  border-bottom: 4px solid #e1e0de; 
  flex: 0 0 60px;
  z-index: 2;
  background-color: white;
}

.logo {
  width: 170px;
  height: 100%;
  display: block;
  float: left;
  padding-top: 10px; }
  @media screen and (min-width: 760px) and (min-device-width: 760px) {
    .logo {
      width: 280px; } }
  @media (min-width: 840px) {
    .logo {
      width: 120px; } }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 220px; } }
  .logo:after {
    background: url(../images/logo-small.svg) center center no-repeat;
    background-size: 50%;
    content: '';
    display: block;
    width: 100%;
    height: 40px; }
    @media screen and (min-width: 760px) and (min-device-width: 760px) {
      .logo:after {
        background: url(../images/logo.svg) center center no-repeat; } }
    @media (min-width: 840px) {
      .logo:after {
        background: url(../images/logo-small.svg) center center no-repeat; } }
    @media screen and (min-width: 1024px) {
      .logo:after {
        background: url(../images/logo.svg) center center no-repeat; } }
  .logo:hover {
    opacity: 0.7; }

.content {
  flex: 1 1 auto;
  width:100%;
}

.main-content{
  padding-left: 250px;
  
}
.section-inner{
  padding: 0 110px;  
}

.inner-wrap{
    padding: 20px 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.inner-wrap p{
	font-size: 24px;
}

.sidebar-button{
  position: fixed;
  top: 84px;
  left: 267px;
  width: 30px;
  height: 25px;
  border: none;
  outline: 0
}

.sidebar-button:before{
  content:"";
  display:block;
  position:absolute;
  top: 5px;
  left: 0px;
  width:30px;
  height:5px;
  background-color: white;
}

.sidebar-button:after{
  content:"";
  display:block;
  position:absolute;
  top: 15px;
  left: 0px;
  width:30px;
  height:5px;
  background-color: white;
}

.sidebar-button:active{
  transition-duration: 3px;
}

.sidebar-wrapper{
  position:fixed;
  left:0;
  top: 0;
  padding-top:64px;
  z-index: 1;
  background-color: #f5f2f0;
  width: 250px;
  height: 100%;
}

.sidebar-menu{
    margin-left: 35px;
    margin-top: 36px;
}
.sidebar-item{
  padding:10px 0;
}

.sidebar-item a{
  text-decoration: none;
  color:#696664;;
}
.sidebar-item a:hover, .sidebar-item a:active{
  color:#b20600
}
.footer {
  flex: 0 0 60px; 
  height:60px;
  border-top:2px solid #dddddd;
  z-index: 2;
  background-color: white;
}


